body {
  color: #111111;
  background-color: #eeeeee;
}


body.bm-overlay {
  background-color: #eeeeee;
}

body.bm-overlay .rj-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.33);
  z-index: 998;
}

/*
Override styles for guitar exercise book.
Made to imitate some default Lilypond styling.
*/

body.body--lilypond {
  color: #000000;
  background-color: #ffffff;
}

body.body--lilypond p,
body.body--lilypond span {
  color: #000000;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
}

body.body--lilypond h1,
body.body--lilypond h2,
body.body--lilypond h3,
body.body--lilypond h4,
body.body--lilypond h5,
body.body--lilypond h6 {
  color: #000000;
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
}

body.body--lilypond .pattern-group .pattern-group__description {
  display: none;
}

body.body--lilypond .pattern-group {
  background-color: #ffffff;
}

body.body--lilypond .bm-menu {
  background-color: #ffffff !important;
}